*{
    margin: 0;
}



#container{
    background-color: brown;
    color: aliceblue;
    width: 30%;
    height: 100vh;
    border-radius: 7px; 
}

#container  p{
    padding: 4%;
    border-radius: 9px; 
}

#container  p:hover{
     
    background-color: black;
    cursor:pointer;
    /* بتغير شكل الماوس لما بيقف عليها */
}

#open{
    background-color: rgb(216, 98, 98);
    border: none;
    border-radius: 5px;    /* لعمل انحناء */
    width: 55px;
    font-size: 15px;


}
#open:hover{
    background: #000;
    color: aliceblue;
    cursor:pointer;
    /* بتغير شكل الماوس لما بيقف عليها */
    font-size: 15px;

}

#close{
    background-color: rgb(192, 76, 76);
    border: none;
    border-radius: 5px; 
    position: absolute;
    left: 31%;
    width: 55px;
    font-size: 15px;
    
}
#close:hover{
    background: #000;
    color: aliceblue;
    cursor:pointer;
    font-size: 15px;
    /* بتغير شكل الماوس لما بيقف عليها */
}



.hide{
    display: none;
}